body{
    background-color:#9900FF ;
}

.hero{
text-align: center;
margin-top: 10%;

}
.hero textarea{
    width: 500px;
    height: 250px;
    background-color: #E6E6FA;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    outline: 0;
}
.hero h1{
    color: #ffffff;
    
}
.row button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    text-align: center;
}
.row{
    gap: 20px;
    margin-left: 500px;
    display: flex;
    align-items: center;
}
.hero h1 span{
    color: rgb(56, 255, 192);
}
